@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav div {
    width: 25%;
    text-align: center;
}

nav div h3 {
    text-transform: uppercase;
    color: white;
    background-color: #A92323;
    padding: 0.5rem 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transform: translateX(-10px);
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
    overflow: hidden;
}

nav a i {
    font-size: 1.7rem;
}

nav a:hover {
    background-color: black;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-heading {
    text-align: center;
    margin: 3rem 0;
    padding: 3rem 0;
}

.section-heading h1 {
    font-weight: 600;
    font-size: 3rem;
}

.section-heading h6 {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
}

.section-content {
    width: 80%;
}

#input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#marksheetInputField {
    width: 75%;
    background-color: red;
    padding: 1rem 0;
}

.result {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.hidden-input {
    display: none;
}

.output {
    width: 90vw;
    padding: 0 1rem;
    margin: 1rem 0;
}


/* Media Queries */
@media (max-width: 1054px) {
    nav div {
        width: 35%;
    }
}

@media (max-width: 768px) {
    nav div {
        width: 45%;
    }

    nav div h3 {
        font-size: 1rem;
    }

    .section-heading h1 {
        font-size: 2rem;
    }

}

@media (max-width: 580px) {
    nav div {
        width: 50%;
    }

    nav div h3 {
        font-size: 0.8rem;
    }

    .section-heading h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    nav div {
        width: 60%;
    }

    nav div h3 {
        font-size: 0.6rem;
    }

    .section-heading h1 {
        font-size: 1.1rem;
    }

    .section-heading h6 {
        font-size: 0.8rem;
    }
}